@using QLBanhang.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<Image>
@{
    ViewBag.Title = "Images";
    Layout = "~/Views/_LayoutUser.cshtml";
}
<link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500,700" rel="stylesheet">
<link rel="stylesheet" href="~/capture/css/open-iconic-bootstrap.min.css">
<link rel="stylesheet" href="~/capture/css/animate.css">
<link rel="stylesheet" href="~/capture/css/owl.carousel.min.css">
<link rel="stylesheet" href="~/capture/css/owl.theme.default.min.css">
<link rel="stylesheet" href="~/capture/css/magnific-popup.css">
<link rel="stylesheet" href="~/capture/css/aos.css">
<link rel="stylesheet" href="~/capture/css/ionicons.min.css">
<link rel="stylesheet" href="~/capture/css/bootstrap-datepicker.css">
<link rel="stylesheet" href="~/capture/css/jquery.timepicker.css">
<link rel="stylesheet" href="~/capture/css/flaticon.css">
<link rel="stylesheet" href="~/capture/css/icomoon.css">
<link rel="stylesheet" href="~/capture/css/style.css">
<div class="main">
    <div class="container">
        <ul class="breadcrumb">
            <li><a href="@Url.Action("Index","Hang")">Trang chủ</a></li>
            <li><a href="@Url.Action("Images")">Images</a></li>
        </ul>
        <!-- BEGIN SIDEBAR & CONTENT -->
        <div class="row margin-bottom-40">
            <!-- BEGIN SIDEBAR -->
            <div class="sidebar col-md-3 col-sm-3">
                <div class="list-group margin-bottom-25 sidebar-menu ">
                    <li class="list-group-item clearfix dropdown open">
                        <i class="fa fa-list"></i>Dòng sản phẩm
                        <!-- BEGIN DROPDOWN MENU -->
                        <ul class="dropdown-menu">
                            <li class="list-group-item clearfix">@Html.Action("Chude", "Hang")</li>
                        </ul>
                        <!-- END DROPDOWN MENU -->
                        <div class="sidebar-products clearfix">
                            <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;color:crimson">Bán chạy nhất</font></font></h2>
                            <div>
                                @Html.Action("Index3", "Hang")
                            </div>
                        </div>
                </div>
            </div>
            <!-- END SIDEBAR -->
            <!-- BEGIN CONTENT -->
            <div class="col-md-9 col-sm-9">
                <div id="colorlib-page">
                    <div id="colorlib-main" style="width: 100% !important;">
                        <section class="ftco-section-2">
                            <div class="photograhy">
                                <div class="row no-gutters">
                                    @foreach (var item in Model)
                                    {
                                        <div class="col-md-4 ftco-animate">
                                            <a href="@item.Id_image" class="photography-entry img image-popup d-flex justify-content-center align-items-center" style="background-image: url(@item.Id_image);">
                                                <div class="overlay"></div>
                                                <div class="text text-center">
                                                    <h3>@item.Name_Image</h3>
                                                    <span class="tag">@item.Date</span>
                                                </div>
                                            </a>
                                        </div>
                                    }
                                </div>
                                <!-- BEGIN PAGINATOR -->
                                <hr/>
                                <div class="row">
                                    <div class="col-md-4 col-sm-4 items-info"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount</font></font></div>
                                    <div class="col-md-8 col-sm-8">
                                        <ul class="pagination pull-right">
                                            <li><font style="vertical-align: inherit;"><font style="vertical-align: inherit;"> @Html.PagedListPager(Model, page => Url.Action("Images", new { page = page }))</font></font></li>
                                        </ul>
                                    </div>
                                </div>
                                <!-- END PAGINATOR -->
                            </div>
                        </section>
                    </div><!-- END COLORLIB-MAIN -->
                </div><!-- END COLORLIB-PAGE -->
            </div>
            <!-- END CONTENT -->
        </div>
        <!-- END SIDEBAR & CONTENT -->
    </div>
</div>

<script src="~/capture/js/jquery.min.js"></script>
<script src="~/capture/js/jquery-migrate-3.0.1.min.js"></script>
<script src="~/capture/js/popper.min.js"></script>
<script src="~/capture/js/bootstrap.min.js"></script>
<script src="~/capture/js/jquery.easing.1.3.js"></script>
<script src="~/capture/js/jquery.waypoints.min.js"></script>
<script src="~/capture/js/jquery.stellar.min.js"></script>
<script src="~/capture/js/owl.carousel.min.js"></script>
<script src="~/capture/js/jquery.magnific-popup.min.js"></script>
<script src="~/capture/js/aos.js"></script>
<script src="~/capture/js/jquery.animateNumber.min.js"></script>
<script src="~/capture/js/bootstrap-datepicker.js"></script>
<script src="~/capture/js/jquery.timepicker.min.js"></script>
<script src="~/capture/js/scrollax.min.js"></script>
<script src="~/capture/js/main.js"></script>
