@model QLBanhang.Models.KHACHHANG

@{
    ViewBag.Title = "profile";
    Layout = "~/Views/_LayoutUser.cshtml";
}
<div id="main-wrapper">
    <div class="container-fluid">
        <div class="row page-titles">
            <div class="col-md-5 col-8 align-self-center">
                <h3 class="text-themecolor m-b-0 m-t-0">THÔNG TIN TÀI KHOẢN</h3>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="@Url.Action("Index","Hang")">Trang chủ</a></li>
                    <li class="breadcrumb-item active"><a href="#">Thông tin tài khoản</a></li>
                </ol>
            </div>
            <div class="col-md-7 col-4 align-self-center">
                <a href="@Url.Action("Suainf", new { id = Model.MaKH })" class="btn waves-effect waves-light btn-danger pull-right hidden-sm-down">CẬP NHẬT THÔNG TIN</a>
            </div>
        </div>
        <div class="row">
            <!-- Column -->
            <div class="col-lg-4 col-xlg-3 col-md-5">
                <div class="card">
                    <div class="card-block">
                        <center class="m-t-30">
                            <img src="https://avatarfiles.alphacoders.com/840/84098.jpg" class="img-circle" width="150" />
                            <br /><br />
                            <h4 class="card-title m-t-10">@Html.DisplayFor(model => model.Taikhoan)</h4>
                            <h6 class="card-subtitle">@Html.DisplayFor(model => model.HoTen)</h6>
                            @*<div class="row text-center justify-content-md-center">
                                    <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-people"></i> <font class="font-medium">254</font></a></div>
                                    <div class="col-4"><a href="javascript:void(0)" class="link"><i class="icon-picture"></i> <font class="font-medium">54</font></a></div>
                                </div>*@
                        </center>
                    </div>
                </div>
            </div>
            <!-- Column -->
            <div class="col-lg-8 col-xlg-9 col-md-7">
                <div class="card">
                    <div class="card-block">
                        <form class="form-horizontal form-material">
                            <div class="form-group">
                                <label class="col-md-12">TÊN KHÁCH HÀNG</label>
                                <div class="col-md-12">
                                    <input type="text" readonly value="@Html.DisplayFor(model => model.HoTen)" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">TÊN TÀI KHOẢN</label>
                                <div class="col-md-12">
                                    <input type="text" readonly value="@Html.DisplayFor(model => model.Taikhoan)" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">NGÀY SINH</label>
                                <div class="col-md-12">
                                    <input type="text" readonly value="@Html.DisplayFor(model => model.Ngaysinh)" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">SỐ ĐIỆN THOẠI</label>
                                <div class="col-md-12">
                                    <input type="text" readonly value="@Html.DisplayFor(model => model.DienthoaiKH)" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">EMAIL</label>
                                <div class="col-md-12">
                                    <input type="text" readonly value="@Html.DisplayFor(model => model.Email)" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-12">ĐỊA CHỈ</label>
                                <div class="col-md-12">
                                    <input type="text" readonly value="@Html.DisplayFor(model => model.DiachiKH)" class="form-control form-control-line">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-sm-12">
                                    <a href="@Url.Action("Index", "Hang")" class="btn btn-success">THOÁT</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
