@model QLBanhang.Models.DONDATHANG

@{
    ViewBag.Title = "sua_don_hang";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>ĐƠN HÀNG</h2>
                                    <p>Chào mừng đền với sản phẩm <span class="bread-ntd">Natruliss</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="notika-icon notika-sent"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>Cập nhật đơn hàng</h2>
                        <p>Yêu cầu các quản trị viên bảo mật thông tin cá nhân riêng tư của khách hàng.</p>
                        @Html.ActionLink("Trở về", "Donghang")
                    </div>
                    <div class="table-responsive">
                        @using (Html.BeginForm("sua_don_hang", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                        {
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                            @Html.HiddenFor(model => model.MaDDH)
                            @Html.HiddenFor(model => model.MaKH)
                            <div class="form-group">
                                <p class="control-label col-md-2">Tình trạng giao hàng</p>
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.Tinhtranggiaohang, new SelectList(new[]{                                    
                                      new { Value = "true", Text = "Đã giao hàng" },
                                      new { Value = "false", Text = "Chưa giao hàng" },},
                                      "Value",
                                      "Text", Model), new { @class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Tinhtranggiaohang, "", new { @class = "text-danger" })<br />
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="control-label col-md-2">Tiền hoá đơn</p><br />
                                <div class="col-md-10">
                                    @Html.DropDownListFor(model => model.Dathanhtoan, new SelectList(new[]{                                    
                                      new { Value = "true", Text = "Đã thanh toán" },
                                      new { Value = "false", Text = "Chưa thanh toán" },},
                                      "Value",
                                      "Text", Model), new { @class = "form-control"})
                                    @Html.ValidationMessageFor(model => model.Dathanhtoan, "", new { @class = "text-danger" })<br />
                                </div>
                            </div>
                            <div class="form-group">
                                <p class="control-label col-md-2">Ngày giao</p><br />
                                <div class="col-md-10">
                                    @Html.EditorFor(model => model.Ngaygiao, new { htmlAttributes = new { @class = "form-control", @type = "date", @Value = Model.Ngaygiao.Value.ToString("yyyy-MM-dd") } })
                                        @Html.ValidationMessageFor(model => model.Ngaygiao, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10" style="padding-top: 25px;">
                                <input type="submit" value="Lưu" class="btn btn-default" />
                            </div>
                        </div>
                        }
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
