@model QLBanhang.Models.MATHANG

@{
    ViewBag.Title = "SuaMH1";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>SẢN PHẨM</h2>
                                    <p>Chào mừng đền với sản phẩm <span class="bread-ntd">Natruliss</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="notika-icon notika-sent"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="data-table-area">
    <div class="container">
        @using (Html.BeginForm("SuaMH", "Admin", FormMethod.Post, new { @enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.MaMH)

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-element-list">
                        <div class="basic-tb-hd">
                            <h2>Sửa sản phẩm</h2>
                            <p>Điền thông tin đầy đủ và kiểm tra kỹ thông tin trước khi thêm sản phẩm.</p>
                            @Html.ActionLink("Trở về", "Hang")
                        </div>
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Tên sản phẩm</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        @Html.EditorFor(model => model.TenMH, new { htmlAttributes = new { @class = "form-control", @maxlength = "100" } })
                                        @Html.ValidationMessageFor(model => model.TenMH, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Giá bán</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        @Html.EditorFor(model => model.Giaban, new { htmlAttributes = new { @class = "form-control", @maxlength = "8" } })
                                        @Html.ValidationMessageFor(model => model.Giaban, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-element-list mg-t-30">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Tải ảnh</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="nk-int-st">
                                        <label title="Upload image file" for="inputImage" class="btn btn-primary img-cropper-cp">
                                            <input type="file" name="fileUpload" />
                                            <p style="padding:0 10px; color:red">@ViewBag.Thongbao</p>
                                            <img src="@Url.Content("~/Hinhanh/"+Model.Anhbia)" width="250px" /> (hinh anh hien tai @Model.Anhbia)
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Ảnh phụ 1</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        @Html.EditorFor(model => model.Anhphu1, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Anhphu1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Ảnh phụ 2</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        @Html.EditorFor(model => model.Anhphu2, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Anhphu2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Ảnh phụ 3</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        @Html.EditorFor(model => model.Anhphu3, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Anhphu3, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-element-list mg-t-30">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Xuất xứ</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        @Html.EditorFor(model => model.Xuatxu, new { htmlAttributes = new { @class = "form-control", @maxlength = "50" } })
                                        @Html.ValidationMessageFor(model => model.Xuatxu, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Ngày cập nhật</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        @Html.EditorFor(model => model.Ngaycapnhap, new { htmlAttributes = new { @class = "form-control", @type = "date", @Value = Model.Ngaycapnhap.Value.ToString("yyyy-MM-dd") } })
                                        @Html.ValidationMessageFor(model => model.Ngaycapnhap, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Số lượng</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        @Html.EditorFor(model => model.Soluongton, new { htmlAttributes = new { @class = "form-control", @maxlength = "5" } })
                                        @Html.ValidationMessageFor(model => model.Soluongton, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="summernote-wrap mg-t-30">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Công dụng</h2>
                                </div>
                                @Html.TextAreaFor(model => model.Mota, new { @class = "form-control", @rows = "7", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Mota, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Cách dùng</h2>
                                </div>
                                @Html.TextAreaFor(model => model.Cachdung, new { @class = "form-control", @rows = "7", style = "width:100%" })
                                @Html.ValidationMessageFor(model => model.Cachdung, "", new { @class = "text-danger" })
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-element-list mg-t-30">
                        <div class="row">
                            <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Loại sản phẩm</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        @Html.DropDownList("MaCD", null, String.Empty, new { @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Loại sản phẩm</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        @Html.DropDownList("MaNCC", null, String.Empty, new { @class = "form-control" })
                                    </div>
                                </div>
                                </div>
                            <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Gán mác</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        @Html.DropDownListFor(model => model.Mac, new SelectList(new[]{
                                          new { Value = "", Text = "--không--" },
                                          new { Value = "true", Text = "Mới" },
                                          new { Value = "false", Text = "Giảm giá" },},
                                          "Value",
                                          "Text", Model), new { @class = "form-control", @Onclick = "javascript:yesnoCheck()" })
                                        @Html.ValidationMessageFor(model => model.Mac, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-element-list mg-t-30">
                        <div class="row">
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12" id="ifYes" style="display:none">
                                <div class="nk-int-mk">
                                    <h2>Khuyến mãi</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        @Html.EditorFor(model => model.Khuyenmai, new { htmlAttributes = new { @class = "form-control", @maxlength = "2" } })
                                        @Html.ValidationMessageFor(model => model.Khuyenmai, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>URL TT Online</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        @Html.EditorFor(model => model.Thanhtoantructuyen, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Thanhtoantructuyen, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <div class="form-element-list mg-t-30">
                        <div class="row">
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Dung tích 1</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        @Html.EditorFor(model => model.Dungtich1, new { htmlAttributes = new { @class = "form-control", @maxlength = "4" } })
                                        @Html.ValidationMessageFor(model => model.Dungtich1, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Dung tích 2</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        @Html.EditorFor(model => model.Dungtich2, new { htmlAttributes = new { @class = "form-control", @maxlength = "4" } })
                                        @Html.ValidationMessageFor(model => model.Dungtich2, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-3 col-sm-4 col-xs-12">
                                <div class="nk-int-mk">
                                    <h2>Dung tích 3</h2>
                                </div>
                                <div class="form-group ic-cmp-int">
                                    <div class="form-ic-cmp">
                                        <i class="notika-icon notika-edit"></i>
                                    </div>
                                    <div class="nk-int-st">
                                        @Html.EditorFor(model => model.Dungtich3, new { htmlAttributes = new { @class = "form-control", @maxlength = "4" } })
                                        @Html.ValidationMessageFor(model => model.Dungtich3, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                <div class="footer-copyright-area">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12" style="text-align: center;">
                                <div class="footer-copy-right">
                                    <input type="submit" value="LƯU" class="btn btn-primary" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div>
        </div>
    </div>
</div>

<script type="text/javascript">
    function yesnoCheck() {
        if ((document.getElementById('Mac').value) == "false") {
            document.getElementById('ifYes').style.display = 'block';
        }
        else document.getElementById('ifYes').style.display = 'none';
    }
</script>