@model QLBanhang.Models.MATHANG

@{
    ViewBag.Title = "XoaMH";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}
<div class="breadcomb-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="breadcomb-list">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="breadcomb-wp">
                                <div class="breadcomb-icon">
                                    <i class="notika-icon notika-windows"></i>
                                </div>
                                <div class="breadcomb-ctn">
                                    <h2>SẢN PHẨM</h2>
                                    <p>Chào mừng đền với sản phẩm <span class="bread-ntd">Natruliss</span></p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-3">
                            <div class="breadcomb-report">
                                <button data-toggle="tooltip" data-placement="left" title="Download Report" class="btn"><i class="notika-icon notika-sent"></i></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="data-table-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>XÁC NHẬN THÔNG TIN SẢN PHẨM CẦN XÓA</h2>
                        <h3> Bạn quyết định xóa mặt hàng này?</h3>
                    </div>
                    <div class="table-responsive">
                        <div>
                            <hr />
                            <dl class="dl-horizontal">
                                <dt>
                                    Ảnh bìa:
                                </dt>
                                <dd>
                                    <img src="@Url.Content("~/Hinhanh/"+  Model.Anhbia)" width="150" />
                                </dd>
                                <dt>
                                    Tên sản phẩm:
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.TenMH)
                                </dd>
                                <dt>
                                    Giá bán:
                                </dt>
                                <dd>
                                    @String.Format("{0:0,0}", Model.Giaban) VNĐ
                                </dd>
                                <dt>
                                    Công dụng:
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Mota)
                                </dd>
                                <dt>
                                    Cách dùng:
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Cachdung)
                                </dd>
                                <dt>
                                    Đến từ:
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Xuatxu)
                                </dd>
                                <dt>
                                    Số lượng tồn:
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.Soluongton)
                                </dd>
                                <dt>
                                    Ngày cập nhật:
                                </dt>
                                <dd>
                                    @String.Format("{0:dd/MM/yyyy}", Model.Ngaycapnhap)
                                </dd>
                                <dt>
                                    Mác:
                                </dt>
                                <dd>
                                    @Html.DropDownListFor(model => model.Mac, new SelectList(new[]{
                                  new {Value = "", Text = "--không--" },
                                  new {Value = "true", Text = "Mới" },
                                  new {Value = "false", Text = "Giảm giá" },},
                                  "Value",
                                  "Text", Model), new { @readonly = "readonly"})
                                </dd>
                                @if (@Model.Mac is false)
                                {
                                    <dt>
                                        Khuyễn mãi:
                                    </dt>
                                    <dd>
                                        @Html.DisplayFor(model => model.Khuyenmai)%
                                    </dd>
                                }
                                <dt>
                                    Danh mục:
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.CHUDE.TenChuDe)
                                </dd>
                                <dt>
                                    Nhà cung cấp:
                                </dt>
                                <dd>
                                    @Html.DisplayFor(model => model.NHACUNGUNG.TenNCC)
                                </dd>
                                <dt>
                                    Dung tích 1:
                                </dt>
                                @if (@Model.Dungtich1 != null)
                                {
                                    <dd>
                                        @Html.DisplayFor(model => model.Dungtich1)ml
                                    </dd>
                                }
                                else
                                {
                                    <dd>
                                        0ml
                                    </dd>
                                }
                                <dt>
                                    Dung tích 2:
                                </dt>
                                @if (@Model.Dungtich2 != null)
                                {
                                    <dd>
                                        @Html.DisplayFor(model => model.Dungtich2)ml
                                    </dd>
                                }
                                else
                                {
                                    <dd>
                                        0ml
                                    </dd>
                                }
                                <dt>
                                    Dung tích 3:
                                </dt>
                                @if (@Model.Dungtich3 != null)
                                {
                                    <dd>
                                        @Html.DisplayFor(model => model.Dungtich3)ml
                                    </dd>
                                }
                                else
                                {
                                    <dd>
                                        0ml
                                    </dd>
                                }
                                <dt>
                                    Ảnh phụ 1:
                                </dt>
                                <dd>
                                    <img src="@Model.Anhphu1" width="150" alt="Chưa tải ảnh" />
                                </dd>
                                <dt>
                                    Ảnh phụ 2:
                                </dt>
                                <dd>
                                    <img src="@Model.Anhphu2" width="150" alt="Chưa tải ảnh" />
                                </dd>
                                <dt>
                                    Ảnh phụ 3:
                                </dt>
                                <dd>
                                    <img src="@Model.Anhphu3" width="150" alt="Chưa tải ảnh" />
                                </dd>
                            </dl>
                            @Html.ActionLink("Quay lại", "Hang")
                        </div>
                        <div>
                            @using (Html.BeginForm())
                            {
                                @Html.AntiForgeryToken()
                                <input type="submit" value="Xoá" class="btn-primary" />
                            }
                        </div>
                        <div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


